.tabs {
  min-height: 100px;
  border: 1px solid black;
}

.tabs:nth-child(n + 2) {
  margin-top: 50px;
}

.tab__navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tab {
  cursor: pointer;
}

.tab_active {
  color: blue;
}

.tab__content {
  display: none;
  padding: 20px;
}
.tab__content_active {
  display: block;
}

